<div class="game-board">
    <div class="game-info">
      <img src="gameLogo.png" alt="" srcset="">
      <div>
        <p>Turns : {{ moves }}</p>
        <p>Matches : {{ trys }}/12</p>
        <p>Best Score : <strong *ngIf="bestScore!=100">{{ bestScore }}</strong></p>
      </div>
      <div>
        <h3 *ngIf="!isDanger" class="timer">
          {{ FormaTime(seconds) }}
        </h3>
        <h3  *ngIf="isDanger" class="timerDanger">
          {{ FormaTime(seconds) }}
        </h3>
        <div class="btn">
          <button (click)="resetGame()">
            <i class="fa fa-sync-alt"></i> 
          </button>
          <button routerLink="/" >
            <i class="fa fa-bars"></i>
           </button>
           <button (click)="resetThrecored()">
             Reset 
          </button>
        </div>
        
      </div>
    </div>
    
    
    <div class="grid">
      <app-card
        *ngFor="let card of cards"
        [card]="card"
        [disableClick]="disableClick"
        >
      </app-card>
</div>
  </div>
  <div *ngIf="trys === 12 || isOver" class="overlay"></div>
  <div *ngIf="breakTheScre" class="popup">
    <h2>🎉 Congrat! You've won!</h2>
    <h6>You did it in {{ moves }} turns!</h6>
    <h6>🌟 New Record: {{ bestScore }} turns! 🌟</h6>
    <button (click)="resetGame()">Try Again</button>
    <button routerLink="/">Menu</button>
  </div>
  <div *ngIf="!breakTheScre && trys === 12 " class="popup">
    <h2>🎉 Congrat! You've won!</h2>
    <h6>But you did it in {{ moves }} turns, try again and break the Record 👊</h6>
    <button (click)="resetGame()">Try Again</button>
    <button routerLink="/">Menu</button>
  </div>
  <div *ngIf="isOver" class="popup">
    <h2>Time is Over 😢 </h2>
    <h6>You did a great job but the time is over befor you find all the players</h6>
    <button (click)="resetGame()">Try Again</button>
    <button routerLink="/">Menu</button>
  </div>
  
  
  

